<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Building 300</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900&display=swap" rel="stylesheet">
  <style>
    body{
      margin: 0;
      padding: 0;
      font-family: 'Merriweather', serif;
      line-height: 1.6;
    }

    header{
      padding: 1rem;
      background-color: #333;
      color: #fff;
    }

    header a{
      color: #fff;
      font-size: .875rem;
    }

    h1{
      margin-top: 6rem;
      margin-bottom: 3rem;
      font-weight: 900;
      text-align: center;
    }

    .novel{
      max-width: 45rem;
      margin: auto;
    }

  </style>
</head>
<body>
  <header>
    <a href="" class="novel-title">Building 300</a>
  </header>
  <main>
    <article class="novel">
      {{ content }}
    </article>
  </main>
</body>
